
* {
  margin: 0;
  padding: 0;
}

.mobile-header {
  background-color: #1c1a19;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  width: 423px;
}

.logo {
  padding: 12px 0 0 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: white;
}

.hum {
  padding: 9px 36px 0 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 35px;
  height: 100vh;
  background-image: url(../images/Illustration-header.png);
  background-position: right bottom;
  background-size: 217px;
  background-repeat: no-repeat;
  background-color: black;
  width: 375px;
}

.primary-text1 {
  color: #ff6b00;
  font-family: Crete 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 46px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 327px;
  height: 124px;
  top: 120px;
  left: 24px;
}

.support-text1 {
  color: #fff5e1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  align-items: center;
  width: 327px;
  height: 27px;
}

.description1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 123px;
  padding-top: 10px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 60px;
  justify-content: space-between;
}

ul#horizontal-list {
  display: flex;
}

ul#horizontal-list li {
  display: inline;
  margin: 0 10px;
}

/* STARTING THE MIDDLE SECTIONS */

.middle-section {
  display: grid;
  height: 100vh;
  background-color: #e5e5e5;
  width: 375px;
}

.my-recent-work {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 36px;
}

.mid-border {
  padding-left: 36px;
  width: 327px;
}

.feature-image {
  padding-right: 24px;
  padding-top: 12px;
  padding-left: 24px;
}

.img1 {
  padding-top: 80px;
}

.multi-post-stories {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-top: 24px;
}

.description2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  width: 327px;
  height: 147px;
}

.wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.box1 {
  color: #091e42;
  padding: 10px 12px 10px 12px;
  border: 1px solid #8993a4;
}

.see-project-btn {
  padding-top: 12px;
}

.btn1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  border: none;
  color: white;
}

/* Card  Starts Here */
.cards-details {
  margin-top: 24px;
  padding-left: 24px;
}

.card-container {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../images/card-img.png);
  height: 386px;
  width: 327px;
  padding-left: 16px;
}

.title2 {
  color: white;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  padding-top: 84px;
}

.description3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 327px;
  height: 87px;
  padding-top: 12px;
}

.box2 {
  color: #fff;
  padding: 10px 12px 10px 12px;
  border: 1px solid #8993a4;
  padding-top: 12px;
}

.btn2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 343px;
  height: 48px;
  border: none;
  color: white;
}

.empty-divider {
  padding-top: 80px;
}

/* ABOUT ME */
.aboutme {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(../images/illustration-about-me-mobile.png);
  background-position: right bottom;
  background-size: 217px;
  background-repeat: no-repeat;
  width: 375px;
}

.greetings2 {
  color: #ff6b00;
  font-family: Crete 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 76px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 327px;
  height: 79px;
  padding-top: 120px;
  padding-left: 24px;
}

.description4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 327px;
  height: 87px;
  padding-top: 12px;
  padding-left: 24px;
}

.aboutme-btn {
  padding-top: 50px;
  padding-left: 24px;
}

.btn3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 161px;
  height: 48px;
  border: none;
  color: white;
}

.line-divider {
  padding-top: 158px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 327px;
}

/* SKILL */
.skill-master {
  display: flex;
  padding-top: 136px;
  background-color: #1c1a19;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  width: 375px;
}

.base {
  padding-left: 0;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style-type: none;
  padding-bottom: 25px;
}

/* LANGUAGE */
.diff-language {
  list-style-type: none;
}

/* FRAMEWORK */
.diff-framework {
  list-style-type: none;
  padding-top: 30px;
}

.icon-rectangle {
  padding-right: 8px;
}

/* SKILLS */
.diff-skills {
  list-style-type: none;
  padding-top: 30px;
}

/* GET IN TOUCH WITH ME */
.getintouch {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 375px;
}

.description5 {
  padding-top: 120px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  padding-bottom: 58px;
}

/* FORM starts here */

.get-in-touch {
  color: #979493;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

form {
  margin: 0 auto;
  width: 400px;
  padding-left: 1em;
}

.ul-form {
  list-style: none;
  padding: 0;
  margin: 0;
}

.common {
  width: 295px;
  height: 24px;
  background-color: white;
  border: none;
  margin-top: 30px;
  padding-left: 5px;
}

.line {
  width: 327px;
  height: 1px;
  background-color: #dbd8d7;
}

.textarea {
  width: 327px;
  height: 114px;
  color: #3c3a39;
  background: #fbf8f7;
  border: none;
  margin-top: 40px;
  padding: 12px;
}

.button {
  padding-left: 90px;
  margin-top: 20px;
}

.btn-get {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 161px;
  height: 48px;
  border: none;
  color: white;
  margin-bottom: 120px;
}

.btn-get:hover {
  background-color: #4caf50;
}

/* The form Ends here */

.line-footer {
  width: 375px;
  height: 1px;
  background-color: #dbd8d7;
}

.social-media-footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul#footer-list {
  display: flex;
}

ul#footer-list li {
  display: inline;
  margin: 0 10px;
}

.shape {
  align-self: center;
}
