* {
  margin: 0;
  padding: 0;
}

.mobile-header {
  background-color: #1c1a19;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.desktop-header {
  display: none;
}

.mobile-logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.mobile-nav {
  padding: 9px 0 0 24px;
}

/* -------------------------------------- */

/* STYLE FOR MOBILE MENU GOES HERE */

.mobile-menu .menu {
  top: 0;
  position: fixed;
  width: 100%;
  height: 82%;
  left: 0.001px;
  right: 0.001px;
  background-color: #3c3a39;
  z-index: 3;
  padding: 2rem 2rem;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0.001px;
  right: 0.001px;
  background-color: #e5e5e5;
  z-index: 2;
}

.mobile-menu ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
  list-style: none;
}

.mobile-menu ul li a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  padding-left: 2rem;
  margin-bottom: -1rem;
}

.mobile-menu ul li {
  margin-top: 2rem;
}

.close-menu {
  position: absolute;
  left: 73%;
  top: 2%;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

/* END OF STYLE FOR MOBILE MENU */

.top-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 0 0 30px;
  gap: 35px;
  height: 100vh;
  background-image: url(../images/2_top_page_bg_img.png);
  background-position: bottom right;
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: black;
}

.top-page-title {
  color: #ff6b00;
  font-family: Crete "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 46px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  padding-bottom: 12px;
}

.top-page-empty-divider {
  padding-top: 4px;
}

.top-page-profession {
  color: #fff5e1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  align-items: center;
  padding-bottom: 12px;
}

.top-page-description {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  max-width: 330px;
}

.top-page-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

ul#top-page-social-media-list {
  display: flex;
}

ul#top-page-social-media-list li {
  display: inline;
  margin: 0 10px;
}

/* Top page ends above */

.my-recent-work {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.my-recent-work-top {
  display: flex;
  flex-direction: column;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding: 120px 30px 0 30px;
}

.mrw-hz-line {
  margin-top: 40px;
  border: none;
  height: 1px;
  background-color: black;
}

.my-recent-wrok-bottom {
  padding: 0 30px 0 30px;
}

.mrw-img4b-desktop {
  width: 100%;
}

.mrw-img4b-desktop img {
  width: 100%;
  padding-top: 40px;
}

.multi-post-stories {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-top: 24px;
}

.my-recent-work-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-bottom: 10px;
}

.mrw-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.mrw-box {
  color: #091e42;
  padding: 10px 12px 10px 12px;
  border: 1px solid #8993a4;
}

.see-project-btn {
  padding-top: 12px;
}

.button-see-project {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  border: 2px solid #ff6b00;
  color: white;
}

.button-see-project:hover {
  background-color: rgb(254, 246, 224);
  color: #ff6b00;
}

.button-see-project:active {
  background-color: rgb(217, 92, 0);
  border: 2px solid rgb(217, 92, 0);
  color: white;
}

/* MY RECENT WORKS ENDS HERE */

/* Card  Starts Here */
.card-master {
  display: grid;
  grid-template-columns: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.cards-details {
  margin-top: 24px;
  justify-self: center;
}

.card-container {
  background: linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(../images/5_card-img.png);
  height: 386px;
  width: 327px;
}

.card-title {
  color: white;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  padding-top: 84px;
  padding-left: 16px;
}

.card-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  padding-top: 12px;
  padding-left: 16px;
}

.card-box {
  margin-top: 10px;
  color: #fff;
  padding: 10px 12px 10px 12px;
  border: 1px solid #8993a4;
  margin-bottom: 15px;
  margin-left: 12px;
}

.card-button-see-project {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 327px;
  height: 48px;
  border: 2px solid #ff6b00;
  color: white;
  padding-left: none;
  margin-top: 18.5px;
}

.card-button-see-project:hover {
  background-color: rgb(254, 246, 224);
  color: #ff6b00;
}

.card-button-see-project:active {
  background-color: rgb(217, 92, 0);
  border: 2px solid rgb(217, 92, 0);
  color: white;
}

/* Card ends above */

.empty-divider3 {
  padding-top: 60px;
}

/* ABOUT ME STARTS HERE */
.about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(../images/6a_bg-about-me-mobile.png);
  background-position: bottom right;
  background-size: 217px;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 30px;
}

.about-me-greetings {
  color: #ff6b00;
  font-family: Crete "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 76px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  padding-top: 120px;
}

.about-me-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-top: 12px;
}

.about-me-btn {
  padding-top: 50px;
}

.button-get-my-resume {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 161px;
  height: 48px;
  border: 2px solid #ff6b00;
  color: white;
}

.button-get-my-resume:hover {
  background-color: rgb(254, 246, 224);
  color: #ff6b00;
}

.button-get-my-resume:active {
  background-color: rgb(217, 92, 0);
  border: 2px solid rgb(217, 92, 0);
  color: white;
}

.about-me-horizontal-line {
  background-color: #1c1a19;
}

.about-me-hz-line {
  border: none;
  height: 1px;
  width: auto;
  align-items: center;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}

.skills-master {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  color: white;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  padding-top: 80px;
}

.base {
  padding-left: 0;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style-type: none;
  padding-bottom: 25px;
}

/* LANGUAGE */
.diff-language {
  list-style-type: none;
}

/* FRAMEWORK */
.diff-framework {
  list-style-type: none;
  padding-top: 30px;
}

.icon-rectangle {
  padding-right: 8px;
}

/* SKILLS */
.diff-skills {
  list-style-type: none;
  padding-top: 30px;
}

/* GET IN TOUCH WITH ME */
.getintouch {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.description5 {
  padding-top: 120px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  padding-bottom: 58px;
  padding-left: 24px;
  padding-right: 24px;
}

/* FORM starts here */

.get-in-touch {
  color: #979493;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

form {
  margin: 0 auto;
  width: 400px;
  padding-left: 1em;
}

.ul-form {
  list-style: none;
  padding: 0;
  margin: 0;
}

.common {
  width: 295px;
  height: 24px;
  background-color: white;
  border: none;
  margin-top: 30px;
  padding-left: 5px;
}

.line {
  width: 327px;
  height: 1px;
  background-color: #dbd8d7;
}

.textarea {
  width: 327px;
  height: 114px;
  color: #3c3a39;
  background: #fbf8f7;
  border: none;
  margin-top: 40px;
  padding: 12px;
}

.button {
  padding-left: 90px;
  margin-top: 20px;
}

.btn-get {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  width: 161px;
  height: 48px;
  border: 2px solid #ff6b00;
  color: white;
}

.btn-get:hover {
  background-color: rgb(254, 246, 224);
  color: #ff6b00;
}

.btn-get:active {
  background-color: rgb(217, 92, 0);
  border: 2px solid rgb(217, 92, 0);
  color: white;
}

/* The form Ends here */

.line-footer {
  display: grid;
  grid-template-columns: auto;
  margin-top: 120px;
  height: 1px;
  background-color: #dbd8d7;
}

.social-media-footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul#footer-list {
  display: flex;
}

ul#footer-list li {
  display: inline;
  margin: 0 10px;
}

.shape {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
